/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
/* Variables */
/* General */
* {
  box-sizing: border-box;
  position: relative;
  cursor: default;
  margin: 0; }

html {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  font-size: 2.8rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #1f2632;
  background-attachment: fixed; }

a {
  text-decoration: none;
  color: #52ffa8;
  cursor: pointer; }

.main-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12rem; }
  .main-container .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 34.3rem;
    min-height: 31.5rem;
    padding: 4rem 2.4rem 0 2.4rem;
    border-radius: 1rem;
    background-color: #323a49; }
    .main-container .box h1 {
      color: #52ffa8;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 0.29em; }
    .main-container .box p {
      font-size: 2.25rem;
      line-height: 3.3rem;
      text-align: center;
      color: #cee3e9;
      margin-top: 2.8rem; }
    .main-container .box .animated {
      animation: show 2.5s ease-in-out; }
    .main-container .box .pattern {
      width: 29.5rem;
      height: 1.6rem;
      margin: 2.4rem 0 6.5rem 0;
      background-image: url("../assets/images/pattern-divider-mobile.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
    .main-container .box .btn-container {
      width: 6.6rem;
      height: 6.6rem;
      position: absolute;
      top: 100%;
      left: 50%;
      right: 0;
      bottom: 0;
      transform: translate(-50%, -50%); }
      .main-container .box .btn-container .button {
        width: 6.6rem;
        height: 6.6rem;
        border-radius: 50%;
        background-color: #52ffa8;
        border: none;
        cursor: pointer;
        transition: 0.3s; }
  .main-container .rotate {
    animation: spin 0.8s ease infinite; }

.attribution {
  color: #cee3e9;
  height: 100%;
  font-size: 1.1rem;
  text-align: center;
  padding: 2.5rem 0 2.5rem 0; }

/* MEDIA QUERIES */
@media only screen and (min-width: 900px) {
  .main-container {
    padding-top: 22.3rem; }
    .main-container .box {
      width: 54rem;
      min-height: 33.2rem;
      padding: 4.8rem 4.8rem 0 4.8rem;
      border-radius: 1.2rem; }
      .main-container .box h1 {
        font-size: 1.3rem; }
      .main-container .box p {
        font-size: 2.65rem;
        line-height: 3.8rem; }
      .main-container .box .pattern {
        width: 44.4rem;
        height: 1.6rem;
        margin-top: 3.6rem;
        background-image: url("../assets/images/pattern-divider-desktop.svg"); }
      .main-container .box .button:hover {
        box-shadow: 1px 1px 33px 0px #52ffa8; }
      .main-container .box .button img:hover {
        cursor: pointer; } }
/* ANIMATION */
@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes spin {
  0% {
    transform: rotate(0turn); }
  50% {
    box-shadow: 1px 1px 33px 0px #52ffa8; }
  100% {
    transform: rotate(1turn); } }
